/* stylelint-disable no-invalid-position-at-import-rule */

@import "~@fkui/design/src/fonts";

.fkui--vue-sandbox {
    /* @import "~@forsakringskassan/exp-fkui-shim/shim"; */
    @import "~@fkui/design/src/fkui";
}
